#hero__wrapper {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../assets/home-bg.webp);
  background-size: cover;
  background-position: center bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin-top: 175px;
  width: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
}

.hero__text {
  padding: 50px 0 100px 0;
  width: 50%;
  text-align: center;
}

.text {
  color: #ffffff;
  font-size: 20px;
}
