.hero__wrapper {
  max-width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/home-bg.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__title {
  margin-top: 150px;
  width: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
}

.hero__text {
  padding: 50px 0 70px 0;
  width: 50%;
  text-align: center;
}

.text {
  color: #ffffff;
  font-size: 20px;
}
